* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
h1 {
  text-align: center;
  background-color: rgb(253, 63, 63);
}
h2 {
  text-align: center;
  background-color: rgb(122, 120, 120);
  color: rgb(255, 184, 51);
}
p {
  background-color: rgb(53, 163, 207);
  padding: 20px;
  font-weight: 600;
  font-size: 18px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
